doctype html 
html
  head
    title sinnipet-manager
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    link(rel="stylesheet", href="/css/style.css")
  body
    h1.header Snippet Manager
    
    div.container.col-10
      form(action="#", method="post" class=" mx-auto" style="padding-left:60px;") 
        input.input-title(type='text' name='title'  placeholder="title")
        | 
        select.select-option(name='language')
          option(value='javascript') Javascript
          option(value='html') Html
          option(value='css') Css
          option(value='ts') TypeScript
          option(value='react') ReactJS
          option(value='node') Node
          option(value='mongo') Mongodb
        |
        textarea.input-desc(type='text' name='description'  placeholder=`Description`)
        |
        |
        button.btn-submit(type= "submit") Submit code
        | 
       
    div   
      ul.list-group
        each snippet in snippets
          li.list-group-item
            h3 #{snippet.title}           
            p.lang #{snippet.language}
            div 
              a.btn.btn-secondary(data-bs-toggle="collapse" href=`#m${snippet._id}`) code
            div.collapse.multi-collapse(id=`m${snippet._id}`)
              pre.code-snippet.language-javascript
                div.card.card-body #{snippet.description}
                  
              |
            a.btn(href=`/${snippet.id}`) Edit
            //delete snippet from db
            //- form(action=`/snippets/${snippet.id} method="post" `)
            //-      input(type='submit', value='Delete') 
      //-       a.btn.delete(data-doc=`/snippets/${snippet._id}`) Delete
           

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>