extends ../layout
block content 
  div(class="mx-auto col-10 p-4 ")
    h3(class="text-center") Edit Your snippet
    form(action=`/edit/${snip.id}?_method=PUT` method="post" style="padding-left:10rem; width:90%;")
      input.input(type='text' name='title'  value=`${snip.title}` placeholder="title" class="p-2 rounded w-100 mx-auto")
      | 
      select.select-option(name='language')
        option(value='javascript') Javascript
        option(value=`${snip.language}` selected) #{snip.language}
        option(value='html') Html
        option(value='css') Css
        option(value='ts') TypeScript
        option(value='react') ReactJS
        option(value='node') Node
        option(value='mongo') Mongodb
      |
      |
      input.desc(type='text' name='description'  value=`${snip.description}` placeholder="Description" class="p-2 rounded w-100 mx-auto")
      |
      |
      textarea.input-snippet(type='text' name='snippet' class="w-100 mx-auto p-2 " value=`${snip.snippet}` placeholder='snippet') #{snip.snippet}
      |
      |
      button.btn-submit(type= "submit" class="w-100 mx-auto p-2 ") Submit code
      | 
       
    