extends ../layout
block content 
  div.container.col-10
    h2(class="text-center") SNIPPET MANAGER
    |
    div(class="text-center mb-3")
      a(class=" btn btn-success p-2  mx-auto col-4 display:block"  href=`/create`) Create Your Snippet 
    ul.list-group.bg-secondary.pt-4
      each snippet in snippets
        li.list-group-item.bg-light
          h3 #{snippet.title}           
          p.lang #{snippet.language}
          div 
            a.btn.btn-secondary(data-bs-toggle="collapse" href=`#m${snippet._id}`) code
            div.collapse.multi-collapse(id=`m${snippet._id}`)
              pre.code-snippet.language-javascript
              small Description
              div.card.card-body #{snippet.description}
              small Snippet
              div.card.card-body #{snippet.snippet}
              |
              a.btn.btn-outline-info.m-1(href=`/edit/${snippet.id}`) Edit
              a.btn.btn-outline-danger(href=`/snippets/${snippet.id}`) Delete 