extends ../layout
block content 
  div.container.col-10
    h2(class="text-center") SNIPPET MANAGER
    |
    a(class="text-center btn btn-success p-2 m-1 mx-auto col-6 display:block"  href=`/create`) Create Your Snippet 
    ul.list-group
      each snippet in snippets
        li.list-group-item
          h3 #{snippet.title}           
          p.lang #{snippet.language}
          div 
            a.btn.btn-secondary(data-bs-toggle="collapse" href=`#m${snippet._id}`) code
            div.collapse.multi-collapse(id=`m${snippet._id}`)
              pre.code-snippet.language-javascript
              div.card.card-body #{snippet.description}
              |
              a.btn(href=`/${snippet.id}`) Edit