extends ../layout
block content 
  div.wrapper.dark
    div(class="text-center mb-3 hero")
      h1(class="h1-hero") Collect your favourite snippets in one place & save your precious time
      p(class="p-hero") Be your snippet manager.
      div(class="btn-group d-flex flex-row justify-content-between")
        a(class="btn btn-add-snippet "  href=`/create`) Add your snippet
        a(class="btn btn-sign-up p-2"  href=`/user/register`) Sign up
    div(class="container-fluid m-2")
        form(class="d-flex ")
          input(class="form-control me-2 w-50 " type="search" placeholder="Search" aria-label="Search")
          div(name='language' class="dropdown w-25")
            button(class="btn dropdown-toggle me-2   select-option" style="width:98%" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false") Select language
              ul(class="dropdown-menu " aria-labelledby="dropdownMenuButton2")
                li  
                  a(class ="dropdown-item " href="#") Select Language
                li
                  a(class ="dropdown-item " href='#') Javascript
                li
                  a(class ="dropdown-item " href='#') HTML
                li
                  a(class ="dropdown-item " href='#') CSS
                li
                  a(class ="dropdown-item " href='#') Typescript
                li
                  a(class ="dropdown-item " href='#') ReactJs
                li
                  a(class ="dropdown-item " href='#') NodeJs
                li
                  a(class ="dropdown-item " href='#') MongoDB
          button(class=" btn btn-search-snippet  p-2 w-25  mx-auto  display:block"  href=`/create`) Search
  
  include ../includes/show_message

  ul.list-group.pt-4
    each snippet in snippets
      li.list-group-item.m-2
        h3(class="title") #{snippet.title}
        p(class="language") #{snippet.language}
          div
            a.btn(data-bs-toggle="collapse" class="btn-view-code" href=`#m${snippet._id}`) code
            div.collapse.multi-collapse.dark(id=`m${snippet._id}`)
              pre.code-snippet.language-javascript
              small Description : 
              div
               p #{snippet.description}
              small Snippet : 
              div.card.card-body #{snippet.snippet}
              a.btn.btn-outline-info.m-1(href=`/edit/${snippet._id}`) Edit
              a.btn.btn-outline-danger(href="/" onclick=`handleDelete('${snippet._id}')`) Delete 